<div class="row">
  <div class="col">
    <form (ngSubmit)="onSubmit(f)" #f="ngForm">
      <div class="form-group">
        <label for="name">Appareil name</label>
        <input type="text" class="form-control" id="name" name="name" ngModel required>
      </div>
      <div class="form-group">
        <label for="status">Appareil status</label>
        <select class="form-control" id="status" name="status" [ngModel]="defaultStatus">
          <option value="allumé">Allumé</option>
          <option value="éteint">Eteint</option>
        </select>
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary" [disabled]="f.invalid">save</button>
      </div>
    </form>
  </div>

</div>
