<li [ngClass]="{'list-group-item': true,
               'list-group-item-success': apparaeilStatus === 'allumé',
               'list-group-item-danger': apparaeilStatus === 'éteint'}">
  
  <h4 [ngStyle]="{color: getColor()}">Appareil: {{ appareilName }} status: {{ getStatus() }}</h4>
  <a [routerLink]="[id]">Détail</a>
  <input type="text" class="form-control mb-2" [(ngModel)]="appareilName">


  <button class="btn btn-sm btn-success"
          *ngIf="apparaeilStatus === 'éteint'"
          (click)="onSwitch()">Allumer</button>
  <button class="btn btn-sm btn-danger"
          *ngIf="apparaeilStatus === 'allumé'"
          (click)="onSwitch()">Eteindre</button>


</li>
